<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">{{title}}</a>
    </nav>
  </header>

  <!-- Begin page content -->
  <main role="main" class="container">
    <div class="row">
      <div class="col-lg-12">
          <h1 class="mt-5">Wikipedia Webcrawler<span class="badge badge-secondary small">v1.0</span></h1>
          <br>
      </div>
      <div class="offset-lg-2 col-lg-10">
        <p class="text-muted">Supported Languages: 
          <span class="badge badge-secondary">English</span></p>
      </div>
      <div class="offset-lg-2 col-lg-8">
        <p></p>
        <p>A web crawler is a simple bot that can download and parse websites. It finds links in the HTML und adds them to a link list which then
          again is crawled. By defining the crawling depth in the settings, the crawler will be limited in the number of elements per follow links.
          In this demo, the crawler is specifically designed to crawl wikipedia pages and category pages from the english wikipedia.
        </p>
        <p>After successful crawl, you can download the result of the crawler in a zip file. Each wikipedia page is stored in a JSON with the following scheme:
          <br>TODO add scheme
        </p>
        <p>All code can be found on this <a href="https://github.com/RobinRojowiec/wikipedia-web-crawler">Github repository</a>.
        Have fun!</p>
      </div>
    </div>
    <div class="row">
        <div class="offset-lg-2 col-lg-8">
            <hr>
            <br>
        </div>

        <div class="offset-lg-2 col-lg-8" *ngIf="error_text">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> {{error_text}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="error_text=null">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        </div>
      
      <div class="col-lg-12" *ngIf="loading" >
        <br>
        <div class="loader" ></div>
        <p class="text-muted center">analyzing...</p>
      </div>

      <div class="offset-lg-2 col-lg-8" *ngIf="!loading && last_response==null">
        <div class="input-group mb-3">
          <input type="text" class="form-control" [placeholder]="placeholder" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button type="submit" class="btn btn-success mb-2" (click)="crawl()">{{button_crawl}}</button>
          </div>
        </div>
      </div>

      <div class="offset-lg-2 col-lg-8" *ngIf="!loading && last_response">
        <div class="col-lg-12">
            <h3 class="predicted">The model predicted your text to be  
                <span class="badge" [ngClass]="{'badge-success':last_response.predicted_class=='positive','badge-danger':last_response.predicted_class=='negative'}">
                  {{last_response.predicted_class}}</span></h3>
            <button class="btn mb-2 again" (click)="again()">Again! again!</button> 
        </div>
        <div class="col-lg-12">
          <br>
        </div>
        <div class="col-lg-12">
            <div class="tokens">
                <span *ngFor="let token of tokens" class="token" [ngClass]='{"neg":token[1]<0,"pos":token[1]>0,"neutral":token[1]==0.0}' [ngStyle]='{"opacity":token[2]}'>
                  <i>{{token[0]}}</i>
                </span>
              </div>
        </div>
        <div class="col-lg-12">
            <br>
          </div>
        <div class="col-lg-12 chart">
                <canvas baseChart
                        [data]="chart_data"
                        [labels]="chart_labels"
                        [chartType]="chart_type"
                        [colors]="chart_colors"></canvas>
        </div>        
        </div>
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">Robin Rojowiec 2018</span>
    </div>
  </footer>

</div>