<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">{{title}}</a>
    </nav>
  </header>

  <!-- Begin page content -->
  <main role="main" class="container">
    <div class="row">
      <div class="col-lg-12">
          <h1 class="mt-5">Classify sentiment with log linear models<span class="badge badge-secondary small">v1.0</span></h1>
          <br>
      </div>
      <div class="offset-lg-2 col-lg-10">
        <p class="text-muted">Supported Languages: 
          <span class="badge badge-secondary">English</span></p>
      </div>
      <div class="offset-lg-2 col-lg-8">
        <p>Sentiment classification is the task of assigning a sentiment label to a piece of text. The sentiment classifiys the general attitude or emotions of the user
          writing the text about a specific topic and can be expressed with 3 general types (classes):
        </p>
        <ul>
          <li>Positive</li>
          <li>Negative</li>
          <li>Neutral</li>
        </ul>
        <p>It has been an ongoing research task for years and different rules, dictionaries and machine learning algorithms have been proposed to solve
          the problem of sentiment classification. In the demo UI below you can try out a log linear model with manual feature engineering. Altough this is not
          state of the art anymore, it provides decent results and is easy to train, even on slow machines. Also, the model itself is quite simple, which makes
          it much easier to understand.
        </p>
        <p>The text processing behind the scenes extracts the tokens using a simple tokenizer, removes all stopwords, then stems and caches the tokens in lowercase.
          The model trains based on the labels (class labels) related to the movie review and learns features for both classes, positive and negative. 
          Through summing up all features from the text for each class, the model can calculate probabilities which describe the degree of positive or negative sentiment.
        </p>
        <p>The model has been trained on the IMDB movide review data set (see <a href="http://ai.stanford.edu/~amaas/data/sentiment/">Large Movie Review Dataset</a>).
          Using 25000 documents for training and 1000 for development and validations set, the model achieves 85% Accuracy.
        </p>
        <p>All code can be found on this <a href="https://github.com/RobinRojowiec/log-linear-sentiment-classifier">Github repository</a>.
        Have fun!</p>
      </div>
    </div>
    <div class="row">
        <div class="offset-lg-2 col-lg-8">
            <hr>
            <br>
        </div>

        <div class="offset-lg-2 col-lg-8" *ngIf="error_text">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> {{error_text}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="error_text=null">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        </div>
      
      <div class="col-lg-12" *ngIf="loading" >
        <br>
        <div class="loader" ></div>
        <p class="text-muted center">analyzing...</p>
      </div>

      <div class="offset-lg-2 col-lg-8" *ngIf="!loading && last_response==null">
        <form>
          <div class="form-group">
              <label for="exampleFormControlTextarea1">Enter the text which schould be analyzed:</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="text" name="text"></textarea>
            </div>
            <button type="submit" class="btn btn-success mb-2" (click)="analyze()">Analyze</button>
          </form>
      </div>

      <div class="offset-lg-2 col-lg-8" *ngIf="!loading && last_response">
        <div class="col-lg-12">
            <h3 class="predicted">The model predicted your text to be  
                <span class="badge" [ngClass]="{'badge-success':last_response.predicted_class=='positive','badge-danger':last_response.predicted_class=='negative'}">
                  {{last_response.predicted_class}}</span></h3>
            <button class="btn mb-2 again" (click)="again()">Again! again!</button> 
        </div>
        <div class="col-lg-12">
          <br>
        </div>
        <div class="col-lg-12">
            <div class="tokens">
                <span *ngFor="let token of tokens" class="token" [ngClass]='{"neg":token[1]<0,"pos":token[1]>0,"neutral":token[1]==0.0}' [ngStyle]='{"opacity":token[2]}'>
                  <i>{{token[0]}}</i>
                </span>
              </div>
        </div>
        <div class="col-lg-12">
            <br>
          </div>
        <div class="col-lg-12 chart">
                <canvas baseChart
                        [data]="chart_data"
                        [labels]="chart_labels"
                        [chartType]="chart_type"
                        [colors]="chart_colors"></canvas>
        </div>        
        </div>
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">Robin Rojowiec 2018</span>
    </div>
  </footer>

</div>